body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #fad2fa;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    margin: 10px 0 5px 0;
}

p {
    color: #777;
}

.about-me,
.skills {
    background-color: #fdfdfd;
    padding: 40px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    background-color: #b6adad;
    padding: 10px;
    border-radius: 5px;
}
